.BookingFormContainer {
    display: grid;
    /* grid-template-columns: 60% 40%; */
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)) !important;
    padding: 10px;
}

.SelectorWrap {
    display: flex;
    justify-content: space-between;
    align-items: start;
    /* margin-top: -70px !important; */
}

.SelectorWrap > div {
    width: 100%;
    height: 35px;
    margin: 5px;
    /* border: 1.5px solid #000; */
    border-radius: 5px;
    padding: 2px;
}

.CalendareArea {
    width: auto;
    height: 300px;
}

.timeslot-side h2 {
    font-size: 24px;
    text-align: center;
}

/* @media screen and  (min-width:280px) and (max-width: 767px) {
    .BookingFormContainer {
        display: grid;
        grid-template-columns: 100%;
        padding: 10px;
    }
} */

@media screen and (min-width: 280px) and (max-width:479px) {
    /* .BookingFormContainer {
        display: grid;
        grid-template-columns: 100%;
        padding: 10px;
    } */

    .BookingFormContainer {
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)) !important;
        padding: 10px;
    }

    .SelectorWrap {
        flex-direction: column !important;
    }

    .SelectorWrap > div {
        width: calc(100vw - 70px);
    }

    .CalendareArea{
        width: calc(100vw - 60px);
    }
}